@import '/variable.less';

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;
  --td-tab-bar-bg-color: @surface-lowest;
  --td-tab-bar-color: @text-secondary;
  --td-tab-bar-active-color: @primary;
  --td-tab-bar-border-color: @outline-variant;
  box-shadow: 0 -2rpx 8rpx rgba(25, 28, 30, 0.05);

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}

.gv-tabbar {
  --td-tab-bar-height: @tab-bar-height;
  --td-tab-bar-bg-color: @surface-lowest;
  --td-tab-bar-color: @text-secondary;
  --td-tab-bar-active-color: @primary;
  --td-tab-bar-border-color: @outline-variant;
  box-shadow: 0 -2rpx 8rpx rgba(25, 28, 30, 0.05);
}
