@import '/variable.less';

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;
  --td-tab-bar-bg-color: #ffffff;
  --td-tab-bar-color: #434654;
  --td-tab-bar-active-color: #003da6;
  --td-tab-bar-border-color: #c3c6d7;
  box-shadow: 0 -2rpx 8rpx rgba(25, 28, 30, 0.05);

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}

.gv-tabbar {
  --td-tab-bar-height: @tab-bar-height;
  --td-tab-bar-bg-color: #ffffff;
  --td-tab-bar-color: #434654;
  --td-tab-bar-active-color: #003da6;
  --td-tab-bar-border-color: #c3c6d7;
  box-shadow: 0 -2rpx 8rpx rgba(25, 28, 30, 0.05);
}
