/**app.wxss**/
page {
  background-color: #f7f9fc;
  color: #191c1e;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
  height: 100vh;
  background-color: #fff;
}
